{% extends "webclient/base/base_frame.html" %}

{% block title %}
	OMERO/HIC
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/menu.css" %}" type="text/css" />
    
    <style type="text/css">
	    #nav li {
	    float: right;
	    height: 90px;
	    width: 50px;
	    list-style: none outside none;
	    padding-top:60px ;
	    }
		#nav a:hover {background:#F3F3F3;}
    </style>
{% endblock %}
   
{% block content %}


<div id="bodyWrapper">
    <div id="headerWrapper">
        <div id="header">
            <div id="logo"> </div>
            <div id="menu">
            	<ul id="nav">
			    	<li><a href="{% url websilo_help %}" title="Help with using OMERO.websilo">Help</a></li>
			    	<li><a href="{% url websilo_admin %}" title="Administer OMERO.websilo">Admin</a></li>
			    	<li><a href="{% url websilo_audit %}" title="Audit dataset usage">Audit</a></li>
			    	<li><a href="{% url websilo_jobs %}" title="View running jobs">Jobs</a></li>
			    	<li><a href="{% url websilo_query %}" title="Query the datasets">Query</a></li>
			    	<li><a href="{% url websilo_export %}" title="Export datasets">Export</a></li>
			    	<li><a href="{% url websilo_import %}" title="Import datasets">Import</a></li>
			    	<li><a href="{% url websilo_view %}" title="View datasets">View</a></li>
			    	<li><a href="{% url websilo_index %}" title="Home">Home</a></li>
		    	</ul>
            </div>
        </div>    
        <div id="header2">
            {% block header %}{% endblock %}
            <div id="logout"><a href="{% url websilo_logout %}">logout</a></div>
        </div>
    </div>
    <div id="contentWrapper">
    
    <div>
	  <h1>OMERO/HIC</h1>
	  <ul>

	  </ul>
	</div>
	<div style="clear:both"></div>
	{% block silodata %}

	{% endblock %}	
    
    </div>
</div>

<div id="footer">
    <div>
	  	<a href="{% url websilo_index %}">Home</a>|
        <a href="{% url websilo_view %}" title="View datasets">View</a> |  
        <a href="{% url websilo_import %}" title="Import datasets">Import</a> | 
        <a href="{% url websilo_export %}" title="Export datasets">Export</a> | 
        <a href="{% url websilo_query %}" title="Query the datasets">Query</a> |
        <a href="{% url websilo_jobs %}" title="View running jobs">Jobs</a> | 
        <a href="{% url websilo_audit %}" title="Audit dataset usage">Audit</a> | 
        <a href="{% url websilo_admin %}" title="Administer OMERO.websilo">Admin</a> | 
		<a href="{% url websilo_help %}" title="Help with using OMERO.websilo">Help</a> 
	</div>
    <p>&copy; University of Dundee & Open Microscopy Environment</p>
</div>



{% endblock %}

