{% extends "websilo/base_template.html" %}

{% block silodata %}

<p>OMERO/HIC is a joint project that aims to develop extensions to the OMERO environment to support data-intensive research and secure data management for healthcare informatics. This is a joint project between the <a href="http://gre.lifesci.dundee.ac.uk/">Wellcome Trust Centre for Gene Regulation & Expression</a> (GRE) and the <a href="http://www.dundee.ac.uk/hic/">Health Informatics Centre</a> (HIC) at the <a href="http://www.dundee.ac.uk/">University of Dundee</a>.</p>

<p>The aim is for OMERO.server to manage healthcare datasets in a secure, audited environment ensuring that such are datasets are only used in accordance with the agreed operating procedures.</p>

<p>This OMERO.web application is a prototype of a web environment that will enable dataset managers to import healthcare datasets and audit subsequent usage, and for healthcare researchers to make use of the date.</p>

{% endblock %}